* {
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: Raleway, sans-serif;
    box-sizing: border-box;
    background-image: url("./assets/backgroundImg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
    width: 100vw;
}
