@font-face {
    font-family: "Dancing Script";
    src: url("./fonts/DancingScript-VariableFont_wght.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

#root {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

body {
    margin: auto;
    width: min(100vw, 500px);
    background-color: rgba(233, 172, 75, 0.4);
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: "Dancing Script", sans-serif;
}
